[Desktop Entry]
Version=1.0
Type=Application
Name=GNOME Activities
Comment=Manage activities/tasks for GNOME desktop
Exec=gnome-activities %U
Icon=gnome-activities
Terminal=false
Categories=Utility;System;
Keywords=activities;tasks;workspace;gnome;
StartupNotify=false
